<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="theme-color" content="{{__config.nunjucks.properties.themeColor}}" />

  {% block header %}{% endblock header %}

  <link href="/.assets/sass/main.scss" rel="stylesheet" />

  <script src="/.assets/footer.js"></script>
  <script src="/.assets/iframe.js"></script>
</head>
<body>
  {% include "components/header.html" %}
  
  {% include "components/nav.html" %}

  <main>
    {% block content %}{% endblock content %}
  </main>

  {% include "components/footer.html" %}
</body>
</html>