body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, 'Noto', 'Roboto', 'Calibri', 'Helvetica';
  background-color: $c-bg;
  color: $c-fg;

  max-width: 100vw;
  min-height: 100vh;
}

a[href] {
  color: $c-link;
}

a[href]:visited {
  color: $c-link-visited;
}

* {
  box-sizing: border-box;
}

main, header, footer {
  max-width: 100%;
  overflow: hidden;
}

main {
  &>h1 {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  &.center {
    text-align: center;
  }
}