main>.dir {
  padding: 8px;
  border-radius: 2px;

  &>.dir-info {
    &>.dir-name {
      text-decoration: none;
      font-size: 2.5em;
    }
  }
}

.dir-children {
  display: flex;
  
  max-width: 100%;
  height: auto;

  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  perspective: 100px;

  &>.dir, &>.file { 
    flex: 1 1 0;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    min-height: 128px;
    min-width: 128px;
    
    padding: 0px;
    margin: 8px;

    background-color: $c-control-bg;
    color: $c-control-fg;

    box-shadow: 0px 2px 4px 2px rgba(0,0,0,.3);

    transition:
      transform .3s ease-in-out,
      filter .3s ease-in-out,
      box-shadow .5s ease-in-out;
    
    z-index: 1;

    &:hover {
      z-index: 2;
      filter: brightness(125%);
      box-shadow: 0px 4px 8px 3px rgba(0,0,0,.15);
      transform: translate3d(0,0,1px);
    }
  }

  &>.dir {
    position: relative;
    display: flex;

    &>.dir-info {
      position: absolute;
      display: flex;
      
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      &>.dir-name {
        position: absolute;
        display: flex;
        
        flex-direction: column;
  
        text-align: center;
        text-decoration: none;
  
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
  
        padding: 8px;
  
        &::before {
          flex: 1 1 0;
          content: '';
        }
  
        &::after {
          flex: 1 1 0;
          content: '';
        }
      }
    }
  }
}