.file {
  position: relative;

  &>.file-info {
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 1;

    &>.file-name {
      position: absolute;
      display: block;

      border-top: solid 1px $c-border;

      bottom: 0;
      width: 100%;
      height: auto;

      text-align: center;

      padding: 4px;

      word-wrap: break-word;

      text-decoration: none;
      background-color: rgba($c-bg,.75);
    }
  }

  &>.preview {
    position: absolute;

    z-index: 0;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.file-view {
  display: flex;

  &::before {
    content: '';
    flex: 1 1 0;
    align-self: flex-start;
  }

  &::after {
    content: '';
    flex: 1 1 0;
    align-self: flex-end;
  }

  &>.media {
    padding: 0 16px;

    * {
      max-height: calc(100vh - $header-height);
      height: 100%;
      max-width: 100%;
    }
  }
}